table {
  position: relative;
  .alert {
    position: absolute;
    width: 100%;
    margin-top: 5px;
  }
  tbody {
    tr {
      cursor: pointer;
      &:hover {
        background-color: #f8f8f8;
      }
    }
  }
}
